@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* PALETA DE CORES */
:root{
    --amarelo: #E1A90D;
    --pretoForte: #222222;
    --pretoMedio: #2F2F2F;
}
/* Estilização geral */
.text-general{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white !important;
}
.text-secondary{
    font-size: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: white !important;
}
.title-banner-principal{
    font-family: "Open Sans", sans-serif;
    font-size: 30pt;
    font-weight: bold;
    color: var(--amarelo);
}
.titles{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: var(--amarelo);
}
.subtitles{
    font-family: "Open Sans", sans-serif;
    font-family: 14px;
    color: var(--amarelo);
}
body{
    background-color: var(--pretoMedio);
}
.btn-projeto{
    background-color: var(--amarelo);
    border: 1px solid var(--amarelo);
    font-weight: bold;
    color: white;
    width: 200px;
}
.btn-projeto:hover{
    background-color: transparent;
    color: white;
    border: 1px solid var(--amarelo);
}
.icon-arrow{
    width: 30px;
}

/* Estilização da navbar */
nav{
    background-color: var(--pretoForte);
}
.nav-link{
    color: white;
}
.nav-link:hover{
    color: var(--amarelo);
}
.nav-link:focus{
    color: white;
}
.navbar-toggler{
    background-color: var(--amarelo);
    border: 1px solid var(--amarelo);
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

/*estilizacao banner-principal*/
.banner-principal{
    height: 600px;
    background-image: url('../img/Banner-principal/banner.jpg');
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), 
    url('../img/Banner-principal/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@media (min-width: 992px) { /* Aplica-se a telas lg */
    .title-banner-principal {
        max-width: 350px; /* Define a largura máxima */
        text-align: center; /* Centraliza o texto */
        margin: 0 auto; /* Centraliza o elemento horizontalmente */
        word-wrap: break-word; /* Garante que o texto quebre se necessário */
    }
}

@media (min-width: 768px) { /* Aplica-se a telas md */
    .title-banner-principal {
        max-width: 350px; /* Define a largura máxima */
        text-align: center; /* Centraliza o texto */
        margin: 0 auto; /* Centraliza o elemento horizontalmente */
        word-wrap: break-word; /* Garante que o texto quebre se necessário */
    }
}
/* Estilização seção sobre */
.foto{
    width: 300px;
    height: 226px;
    background-image: url('../img/foto/perfil.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.btn-primary{
    background-color: var(--amarelo) !important;
    border: 1px solid var(--amarelo) !important;
    font-weight: bold;
}
.btn-primary:hover{
    background-color: transparent !important;
}
.btn-primary:focus{
    background-color: var(--amarelo) !important;
}
.btn-secondary{
    background-color: transparent;
    border: 1px solid var(--amarelo);
    font-weight: bold;
}
.btn-secondary:hover{
    background-color: var(--amarelo);
}
.btn-secondary:focus{
    background-color: transparent !important;
}

@media (min-width: 768px) and (max-width: 991px) { /* Para telas md */
    .foto {
        width: 2000px !important; /* Aumenta a altura em telas médias */
    }
}

/* Estilização secao de serviços*/
.card{
    background-color: var(--pretoForte);
    border-radius: 0px;
}
.card-text{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: white;
}
.card-title{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: white;
}
.card-img-top{
    width: 40px;
}
@media(max-width: 576px){
    .card{
        width: 95% !important;
        margin-bottom: 10px;
    }
}
@media(min-width: 768px) and (max-width: 1023px){
    .card{
        height: 290px
    }
}
@media(min-width: 1024px) and (max-width: 1280px){
    .card{
        height: 230px
    }
}

/* Estilização secao de projetos */
#img-projeto{
    width: 100%;
    height: 200px;
    background-image: url('../img/projetos/HOSPEDAGEM+.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#img-projeto-2{
    background-image: url('../img/projetos/HORA\ CERTA.jpg');
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#img-projeto-3{
    background-image: url('../img/projetos/AVALIA\ RU\ UNIFESSPA.png');
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@media(min-width: 992px){
    #img-projeto{
        width: 100% !important;
        height: 35vh !important;
        background-image: url('../img/projetos/HOSPEDAGEM+.jpeg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 10px;
    }
    #img-projeto-2{
        margin-left: 10px;
    }
    #img-projeto-3{
        margin-right: 10px;
    }

}

@media(min-width: 768px){
    #img-projeto{
        width: 100%;
        height: 35vh;
        background-image: url('../img/projetos/HOSPEDAGEM+.jpeg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    } 
}
@media(max-width: 576px){
    .img-projeto{
        width: 100%;
    }
}

/* Estilização da seção de contato */
#faq{
    width: 50%;
}
.accordion-item{
    background-color: var(--pretoForte);
    color: white;
}
.accordion-button{
    background-color: var(--pretoForte);
    color: white;
}
.icons-canais-atendimento{
    width: 10%;
}
#mensagem{
    width: 100%;
    height: 100px;
}
.inputs-form{
    width: 100%;
}
.input{
    border-radius: 0px;
}
@media(max-width: 576px){
    .icons-canais-atendimento{
        width: 10%;
    }
    #faq{
        width: 100%;
    }
}
@media(min-width: 768px){
    #faq{
        width: 100%;
    }
    .icons-canais-atendimento{
        width: 7%;
    }
}
@media(min-width: 992px){
    #faq{
        width: 50%;
    }
}